body {
  text-align: center;
  color: grey;
}

.radios {
  width: 50%;
  height: 10%;
  display: inline-block;
  text-align: left;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  margin: 5%;
  font-weight: bold;
}
